## client
/client/.env
/client/node_modules
/client/public/img
/client/src/assets
/client/dist
/client/src/constants/foodList.ts
/client/src/constants/foodMaterial.ts
/client/src/constants/character.ts
/client/src/constants/areaMaterialItem.ts
## server
/server/node_modules
/server/.env